.Footer {
    background-color: #191C1C;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 100%;
    height: 120px;
}

.Footer p {
    text-align: left;
    align-items: center;
    padding-top: 30px;
    color: white;
    font-size: 15px;
}

.Footer a {
    padding-top: 10px;
    padding-bottom: 10px;
}
